<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.mouchina.moumou_server.dao.award.TreasureAwardHistoryMapper">
	<resultMap id="BaseResultMap"
		type="com.mouchina.moumou_server.entity.award.TreasureAwardHistory">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="treasure_box_config_id" property="treasureBoxConfigId"
			jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="box_time_point" property="boxTimePoint" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, treasure_box_config_id, user_id, create_time,box_time_point
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from treasure_award_history
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from treasure_award_history
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.mouchina.moumou_server.entity.award.TreasureAwardHistory">
		insert into treasure_award_history (id, treasure_box_config_id,user_id,create_time,box_time_point)
		values (#{id,jdbcType=BIGINT}, #{treasureBoxConfigId,jdbcType=BIGINT},
		#{userId,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP},
		#{boxTimePoint,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.mouchina.moumou_server.entity.award.TreasureAwardHistory">
		insert into treasure_award_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="treasureBoxConfigId != null">
				treasure_box_config_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="treasureBoxConfigId != null">
				#{treasureBoxConfigId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.mouchina.moumou_server.entity.award.TreasureAwardHistory">
		update treasure_award_history
		<set>
			<if test="treasureBoxConfigId != null">
				treasure_box_config_id = #{treasureBoxConfigId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.mouchina.moumou_server.entity.award.TreasureAwardHistory">
		update treasure_award_history
		set treasure_box_config_id = #{treasureBoxConfigId,jdbcType=BIGINT},
		user_id = #{userId,jdbcType=BIGINT},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from treasure_award_history
		where user_Id = #{userId,jdbcType=BIGINT}
	</select>
	
	<!-- 查询用户最后领取奖励的时间 -->
	<select id="selectUserLastAwardHistory" resultType="java.util.Date" parameterType="java.lang.Long">
		SELECT MAX(create_time) FROM treasure_award_history WHERE user_id=#{userId}
	</select>
	
	<select id="selectTreasureBoxIsOpen" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM treasure_award_history tah
		WHERE tah.user_id=#{userId} AND tah.box_time_point=#{boxTimePoint} and DATE_FORMAT(tah.create_time,'%Y-%m-%d')=#{createTime}
	</select>
	
</mapper>