<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>哞哞科技管理后台</title>
	#parse('layout/thems/default/common/base.vm')

</head>
<body>

<!-- Header -->
#parse('layout/thems/default/header.vm')

	<div class="main-container" id="main-container">
			<script type="text/javascript">
				var pageNav="order_list";
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				#parse('layout/thems/default/left.vm')

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">订单管理</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								订单列表
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							
							<div class="col-xs-12">
										<div class="table-header">
											订单列表
										</div>

										<div class="table-responsive">
											<div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
                                                <div class="row">
													
													
													
                                                    <div class="col-sm-1">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-white dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                                                    2016 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu" id="yearDropDown" data-chk="">
																	<li data-val="2015">
																		<a href="javascript:void(0);">2015</a>
																	</li>
																	<li class="active" data-val="2016">
																		<a href="javascript:void(0);">2016</a>
																	</li>
                                                                    <li data-val="2017">
                                                                        <a href="javascript:void(0);">2017</a>
                                                                    </li>
                                                                    <li data-val="2018">
                                                                        <a href="javascript:void(0);">2018</a>
                                                                    </li>
                                                                    <li data-val="2019">
                                                                        <a href="javascript:void(0);">2019</a>
                                                                    </li>
                                                                    <li data-val="2020">
                                                                        <a href="javascript:void(0);">2020</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
##                                                    <div class="col-sm-1">
##                                                        <div class="input-group m-b">
##                                                            <div class="input-group-btn">
##                                                                <button type="button" class="btn btn-white dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
##                                                                    订单状态 <span class="caret"></span>
##                                                                </button>
##                                                                <ul class="dropdown-menu" role="menu" id="stateDropDown" data-chk="">
##                                                                    <li data-val="" class="active"><a href="javascript:void(0);">==全部==</a></li>
##                                                                    #foreach($orderState in $orderStateMap.entrySet())
##                                                                       <li data-val="$!orderState.key">
##																			<a href="javascript:void(0);">$!orderState.value</a>
##																		</li>
##																	#end
##                                                                </ul>
##                                                            </div>
##                                                        </div>
##                                                    </div>

	<div class="col-sm-2">
														<input  placeholder="开始时间"  type="text" data-date-format="yyyy-mm-dd" id="id-date-picker-3" class="form-control date-picker">
													 </div>
													 <div class="col-sm-2">												
														<input  placeholder="结束时间"  type="text" data-date-format="yyyy-mm-dd" id="id-date-picker-4" class="form-control date-picker">
													 </div>
                                                    <div class="col-sm-3">
                                                        <div class="input-group m-b">
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-white dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                                                    流水号 <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu searchDropDown" role="menu">
                                                                    <li data-hid="orderNo" class="active"><a href="javascript:void(0);">流水号</a></li>
                                                                 
                                                                </ul>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="Search" value="" id="searchValue">
																<span class="input-group-btn">
                                        							<button class="btn btn-sm btn-primary" type="button" id="serchBtn" data-fild="orderNo">Go!</button>
																</span>
                                                        </div>
                                                    </div>
                                                    <div class="ibox-tools">
                                                        <span class="label label-sm label-success" id="dataTotal">请稍后...</span>
                                                    </div>
                                                </div>
												<table class="table table-bordered" id="sample-table-2" >
													<thead>
														<tr role="row">
															<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 56px;" aria-label="">
																<label>
																	<input type="checkbox" class="ace">
																	<span class="lbl"></span>
																</label>
															</th>
															<th class="hidden-480 " tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >流水号</th>
															<th class="hidden-480 " tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >服务</th>
															<th class="hidden-480 " tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >手机号</th>
                                                            <th class="hidden-480 " tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >状态</th>
                                                            <th class="hidden-480 " role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >金额</th>
															<th class="hidden-480 " role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >创建时间</th>
															<th class="hidden-480 " role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >完成时间</th>
															<th class="hidden-480 " tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >账户id</th>
														</tr>
													</thead>
													<tbody id="theacertbody" role="alert" aria-live="polite" aria-relevant="all">
													</tbody>
												</table>
                                                <ul class="pagination">
                                                </ul>
											 <div/>
											 #foreach($data in $skillMap.entrySet())
												<input type="hidden" id="skillId${data.key}" value="${data.value.name}">
											 #end
											 <div>
									</div>
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				
		
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div>
#parse('layout/thems/default/setting.vm')

<!-- ========== CONTENT END ========== -->

<!-- ========== FOOTER START ========== -->
#parse('layout/thems/default/footer.vm')
<!-- ========== FOOTER END ========== -->
<!-- 配置文件 -->

<script type="text/javascript">
 	seajs.use("order-order-list");
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">退款清单</h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal refundExecForm" action="${contentPath}/order/refund/exec.json"  method="POST">
					<input type="hidden" value="" name="id" id="rangeId">
					<div class="form-group">
						<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 订单号 </label>
						<div class="col-sm-9">
							<div class="col-xs-10">
								<input type="text"  name="orderNo"  value=""  class="col-xs-10 col-sm-5"  id="modalOrderNo" readonly="true">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 退款订单集 </label>
						<div class="col-sm-9">
							<div class="col-xs-10">
                                <input type="hidden"  name="detailNos"  value=""  class="col-xs-10 col-sm-5"  id="modalOrderDetailNos" readonly="true">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 退款总金额 </label>
						<div class="col-sm-9">
							<div class="col-xs-10">
								<input type="text"  name="pri"  value=""  class="form-control"  id="modalRefundPrice" readonly="true">
							</div>
						</div>
					</div>
                    <table class="table table-bordered" id="sample-table-2" >
                        <thead>
                        <tr role="row">
                            <th class="hidden-480 sorting" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >流水号</th>
                            <th class="hidden-480 sorting" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >状态</th>
                            <th class="hidden-480 sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >成交单价</th>
                            <th class="hidden-480 sorting" role="columnheader" tabindex="0"  rowspan="1" colspan="1" style="width: 150px;" >数量</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width: 100px;" aria-label="">成交总价</th>
                        </tr>
                        </thead>
                        <tbody id="refoundtbody" role="alert" aria-live="polite" aria-relevant="all">

                        </tbody>
                    </table>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button"  class="btn btn-primary refundExecBtn">确定退款</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>