<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>哞哞管理后台</title>
	#parse('layout/thems/default/common/base.vm')

</head>
<body>

<!-- Header -->
#parse('layout/thems/default/header.vm')

	<div class="main-container" id="main-container">
			<script type="text/javascript">
                var pageNav="PERMISSION_ORDER_REMIBURSE_LIST";
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				#parse('layout/thems/default/left.vm')

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">退款管理</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								退款审核
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form role="form" class="form-horizontal" id="saveUserReimburseForm" method="post" action="$contentPath/order/userremiburse/$!{payAction}/api.html" >
								
									
									<div class="form-group">
										<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 退款流水号 </label>

										<div class="col-sm-9">
											<div class="col-xs-10">
												<input type="text"  readonly="" name="reimburseNo"  check-type="required"  value="$userReimburse.reimburseNo" required-message="手机号码错误" class="col-xs-10 col-sm-5" placeholder="手机号" id="phoneInput">
											</div>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 订单号 </label>

										<div class="col-sm-9">
										   <div class="col-xs-10">
												<input type="text" name="orderNo" readonly=""  check-type="required"  value="$userReimburse.orderNo" required-message="姓名不能为空"  class="col-xs-10 col-sm-5" placeholder="老师姓名" id="form-field-1">
										   </div>
										</div>
									</div>
									
									
									<div class="space-4"></div>
									
									
									<div class="form-group">
										<label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 订单明细 </label>

										<div class="col-sm-9">
										   <div class="col-xs-10">
												<input type="text" name="orderDetailNos" readonly=""  check-type="required"  value="$userReimburse.orderDetailNos" required-message="姓名不能为空"  class="col-xs-10 col-sm-5" placeholder="老师姓名" id="form-field-1">
										   </div>
										</div>
									</div>
									
									
									<div class="space-4"></div>
									<div class="form-group">
										<label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 退款原因 </label>

										<div class="col-sm-9">
										   <div class="col-xs-10">
												<input type="text" name="reimburseCause" readonly=""   value="$userReimburse.reimburseCause"  class="col-xs-10 col-sm-5" placeholder=" 退款原因 " id="form-field-1" >
										   </div>
										</div>
									</div>
									
									
									<div class="space-4"></div>
									<div class="form-group">
										<label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 用户id </label>

										<div class="col-sm-9">
										   <div class="col-xs-10">
												<input type="text" name="userId" readonly=""  check-type="required"  value="$userReimburse.userId" required-message="用户id不能为空"  class="col-xs-10 col-sm-5" placeholder="用户id" id="form-field-1">
										   </div>
										</div>
									</div>
									
									
									<div class="space-4"></div>
									
									<div class="form-group">
										<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 创建时间</label>

										<div class="col-sm-9">
											<div class="col-xs-10 col-sm-5">
																<div class="input-group">
																	
																	<input  readonly=""  check-type="required date"   value="$!date.format("yyyy-MM-dd",$userReimburse.createTime)"   required-message="请输入开始工作时间"   type="text" data-date-format="yyyy-mm-dd" id="id-date-picker-1" class="form-control date-picker">
																	<span class="input-group-addon">
																		<i class="icon-calendar bigger-110"></i>
																	</span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="space-4"></div>
									
									
									<div class="form-group">
										<label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 退款金额（单位:元） </label>

										<div class="col-sm-9">
											<div class="col-xs-10">
												#set($Double = 0.00)
												#set($reimbursePrice=$Double.parseDouble("$!{userReimburse.price}"))
												#set($rp=$reimbursePrice / 100)
												<input type="text" name="price" readonly="true"  value="$rp" check-type="required number"   required-message="退款金额"  class="col-xs-10 col-sm-5" placeholder="退款金额">
											</div>
										</div>
									</div>
									
							
									<div class="space-4"></div>
									
									<div class="form-group">
										<label for="form-field-1" class="col-sm-3 control-label no-padding-right">退款备注 </label>

										<div class="col-sm-9">
											<div class="col-xs-10 col-sm-5">
													<textarea placeholder="退款备注" check-type="required"   required-message="退款备注不能为空"   name="processBak" id="form-field-8" class="form-control">$!userReimburse.processBak</textarea>
											</div>
										</div>
									</div>
									<div class="space-20"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button type="button" id="saveUserReimburseButton" class="btn btn-info">
												<i class="icon-ok bigger-110"></i>
												同意退款
											</button>

											&nbsp; &nbsp; &nbsp;
											<button type="reset" class="btn">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>

									<div class="hr hr-24"></div>


								


								</form>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				#parse('layout/thems/default/setting.vm')
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div>


<!-- ========== CONTENT END ========== -->

<!-- ========== FOOTER START ========== -->
#parse('layout/thems/default/footer.vm')
<!-- ========== FOOTER END ========== -->
<!-- 配置文件 -->

<script type="text/javascript">
 	seajs.use("order-userremiburse-edit");
</script>

</body>
</html>