<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>哞哞管理后台</title>
    #parse('layout/thems/default/common/base.vm')

</head>
<body>

<!-- Header -->
    #parse('layout/thems/default/header.vm')

<div class="main-container" id="main-container">
    <script type="text/javascript">
        var pageNav="system_config_list";
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        #parse('layout/thems/default/left.vm')

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">系统参数管理</li>
                </ul><!-- .breadcrumb -->

            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        系统参数编辑
                        <small>
                            <i class="icon-double-angle-right"></i>
                            查看
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form role="form" class="form-horizontal" id="saveUserForm" method="post" action="$contentPath/system/config/update.html" >
                            <div class="form-group">
                                <label for="form-field-1" class="col-sm-3 control-label no-padding-right" > 配置key </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configKey" value="$!{systemConfig.configKey}"  class="col-xs-10 col-sm-5" readonly="true" id="sysKeyInput">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 配置名称 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configName" value="$!{systemConfig.configName}"  check-type="required"   required-message="配置名称不能为空"  class="col-xs-10 col-sm-5" placeholder="配置名称" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 配置内容 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configContent" value="$!{systemConfig.configContent}"  check-type="required"   required-message="配置内容不能为空"  class="col-xs-10 col-sm-5" placeholder="配置内容" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 最大配置 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configMax" value="$!{systemConfig.configMax}"  check-type="required"   required-message="最大配置不能为空"  class="col-xs-10 col-sm-5" placeholder="最大配置" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 最小配置 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configMin" value="$!{systemConfig.configMin}"  check-type="required"   required-message="最小配置不能为空"  class="col-xs-10 col-sm-5" placeholder="最小配置" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 配置值 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configNormal" value="$!{systemConfig.configNormal}"  check-type="required"   required-message="配置值不能为空"  class="col-xs-10 col-sm-5" placeholder="配置值" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 配置描述 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configDesc" value="$!{systemConfig.configDesc}"  check-type="required"   required-message="配置描述不能为空"  class="col-xs-10 col-sm-5" placeholder="配置描述" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-1"  class="col-sm-3 control-label no-padding-right"> 配置组 </label>

                                <div class="col-sm-9">
                                    <input type="text" name="configGroup" value="$!{systemConfig.configGroup}"  check-type="required"   required-message="配置描述不能为空"  class="col-xs-10 col-sm-5" placeholder="配置描述" id="form-field-1">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 状态</label>
                                <div class="col-sm-9">
                                    <div class="control-group">
                                        <div class="radio">
                                            #if($!{systemConfig.state}==0)
                                                <label>
                                                    <input type="radio" class="ace" name="state" value="1">
                                                    <span class="lbl">生效</span>
                                                </label>
                                                <label>
                                                    <input type="radio" checked="checked" class="ace" value="0" name="state">
                                                    <span class="lbl">不生效</span>
                                                </label>
                                            #else
                                                <label>
                                                    <input type="radio" checked="checked" class="ace" value="1" name="state">
                                                    <span class="lbl">生效</span>
                                                </label>
                                                <label>
                                                    <input type="radio"  class="ace" value="0" name="state">
                                                    <span class="lbl">不生效</span>
                                                </label>
                                            #end
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input name="id" value="$!{systemConfig.id}" type="hidden">
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" id="saveUserButton" class="btn btn-info">
                                        <i class="icon-ok bigger-110"></i>
                                        提交
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button type="reset" class="btn">
                                        <i class="icon-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>

                            <div class="hr hr-24"></div>





                        </form>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
        #parse('layout/thems/default/setting.vm')
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>


<!-- ========== CONTENT END ========== -->

<!-- ========== FOOTER START ========== -->
    #parse('layout/thems/default/footer.vm')
<!-- ========== FOOTER END ========== -->
<!-- 配置文件 -->

<script type="text/javascript">
    seajs.use("members-user-edit");
</script>

</body>
</html>