<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>哞哞管理后台</title>
	#parse('layout/thems/default/common/base.vm')

</head>
<body>

<!-- Header -->
#parse('layout/thems/default/header.vm')

	<div class="main-container" id="main-container">
		阿斯顿
	</div>


<!-- ========== CONTENT END ========== -->

<!-- ========== FOOTER START ========== -->
#parse('layout/thems/default/footer.vm')
<!-- ========== FOOTER END ========== -->
<!-- 配置文件 -->

<script type="text/javascript">
 	seajs.use("members-user-edit");
</script>

</body>
</html>